GetDetsisConsole/Web References/DetsisSrv/integration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDetsis">
        <s:complexType />
      </s:element>
      <s:element name="GetDetsisResponse">
        <s:complexType />
      </s:element>
      <s:element name="YerBilgisi">
        <s:complexType />
      </s:element>
      <s:element name="YerBilgisiResponse">
        <s:complexType />
      </s:element>
      <s:element name="eBADETSISNoKurumBirimWs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kurumId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eBADETSISNoKurumBirimWsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eBADETSISNoKurumBirimWsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdaGoreKurumBirimSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ara" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UstBirimKodu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdaGoreKurumBirimSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AdaGoreKurumBirimSorgulaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KurumIletisimBilgileri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detsisNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KurumIletisimBilgileriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KurumIletisimBilgileriResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HiyerarsiGetirKurumBirim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetsisNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HiyerarsiGetirKurumBirimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HiyerarsiGetirKurumBirimResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDetsisSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetsis" />
  </wsdl:message>
  <wsdl:message name="GetDetsisSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetsisResponse" />
  </wsdl:message>
  <wsdl:message name="YerBilgisiSoapIn">
    <wsdl:part name="parameters" element="tns:YerBilgisi" />
  </wsdl:message>
  <wsdl:message name="YerBilgisiSoapOut">
    <wsdl:part name="parameters" element="tns:YerBilgisiResponse" />
  </wsdl:message>
  <wsdl:message name="eBADETSISNoKurumBirimWsSoapIn">
    <wsdl:part name="parameters" element="tns:eBADETSISNoKurumBirimWs" />
  </wsdl:message>
  <wsdl:message name="eBADETSISNoKurumBirimWsSoapOut">
    <wsdl:part name="parameters" element="tns:eBADETSISNoKurumBirimWsResponse" />
  </wsdl:message>
  <wsdl:message name="AdaGoreKurumBirimSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:AdaGoreKurumBirimSorgula" />
  </wsdl:message>
  <wsdl:message name="AdaGoreKurumBirimSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:AdaGoreKurumBirimSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="KurumIletisimBilgileriSoapIn">
    <wsdl:part name="parameters" element="tns:KurumIletisimBilgileri" />
  </wsdl:message>
  <wsdl:message name="KurumIletisimBilgileriSoapOut">
    <wsdl:part name="parameters" element="tns:KurumIletisimBilgileriResponse" />
  </wsdl:message>
  <wsdl:message name="HiyerarsiGetirKurumBirimSoapIn">
    <wsdl:part name="parameters" element="tns:HiyerarsiGetirKurumBirim" />
  </wsdl:message>
  <wsdl:message name="HiyerarsiGetirKurumBirimSoapOut">
    <wsdl:part name="parameters" element="tns:HiyerarsiGetirKurumBirimResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegrationSoap">
    <wsdl:operation name="GetDetsis">
      <wsdl:input message="tns:GetDetsisSoapIn" />
      <wsdl:output message="tns:GetDetsisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="YerBilgisi">
      <wsdl:input message="tns:YerBilgisiSoapIn" />
      <wsdl:output message="tns:YerBilgisiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eBADETSISNoKurumBirimWs">
      <wsdl:input message="tns:eBADETSISNoKurumBirimWsSoapIn" />
      <wsdl:output message="tns:eBADETSISNoKurumBirimWsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdaGoreKurumBirimSorgula">
      <wsdl:input message="tns:AdaGoreKurumBirimSorgulaSoapIn" />
      <wsdl:output message="tns:AdaGoreKurumBirimSorgulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KurumIletisimBilgileri">
      <wsdl:input message="tns:KurumIletisimBilgileriSoapIn" />
      <wsdl:output message="tns:KurumIletisimBilgileriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HiyerarsiGetirKurumBirim">
      <wsdl:input message="tns:HiyerarsiGetirKurumBirimSoapIn" />
      <wsdl:output message="tns:HiyerarsiGetirKurumBirimSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationSoap" type="tns:IntegrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetsis">
      <soap:operation soapAction="http://tempuri.org/GetDetsis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YerBilgisi">
      <soap:operation soapAction="http://tempuri.org/YerBilgisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eBADETSISNoKurumBirimWs">
      <soap:operation soapAction="http://tempuri.org/eBADETSISNoKurumBirimWs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdaGoreKurumBirimSorgula">
      <soap:operation soapAction="http://tempuri.org/AdaGoreKurumBirimSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KurumIletisimBilgileri">
      <soap:operation soapAction="http://tempuri.org/KurumIletisimBilgileri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HiyerarsiGetirKurumBirim">
      <soap:operation soapAction="http://tempuri.org/HiyerarsiGetirKurumBirim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationSoap12" type="tns:IntegrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetsis">
      <soap12:operation soapAction="http://tempuri.org/GetDetsis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YerBilgisi">
      <soap12:operation soapAction="http://tempuri.org/YerBilgisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eBADETSISNoKurumBirimWs">
      <soap12:operation soapAction="http://tempuri.org/eBADETSISNoKurumBirimWs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdaGoreKurumBirimSorgula">
      <soap12:operation soapAction="http://tempuri.org/AdaGoreKurumBirimSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KurumIletisimBilgileri">
      <soap12:operation soapAction="http://tempuri.org/KurumIletisimBilgileri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HiyerarsiGetirKurumBirim">
      <soap12:operation soapAction="http://tempuri.org/HiyerarsiGetirKurumBirim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integration">
    <wsdl:port name="IntegrationSoap" binding="tns:IntegrationSoap">
      <soap:address location="http://localhost/DetsisTest/integration.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationSoap12" binding="tns:IntegrationSoap12">
      <soap12:address location="http://localhost/DetsisTest/integration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>