eBADetsisIntegration/DetsisTest/Connected Services/ATSO/integration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="kurumAdinaGoreSorgula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parent" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="kurumAdinaGoreSorgulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="kurumAdinaGoreSorgulaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="kurumAdinaGoreSorgulaSoapIn">
    <wsdl:part name="parameters" element="tns:kurumAdinaGoreSorgula" />
  </wsdl:message>
  <wsdl:message name="kurumAdinaGoreSorgulaSoapOut">
    <wsdl:part name="parameters" element="tns:kurumAdinaGoreSorgulaResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegrationSoap">
    <wsdl:operation name="kurumAdinaGoreSorgula">
      <wsdl:input message="tns:kurumAdinaGoreSorgulaSoapIn" />
      <wsdl:output message="tns:kurumAdinaGoreSorgulaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegrationSoap" type="tns:IntegrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="kurumAdinaGoreSorgula">
      <soap:operation soapAction="http://tempuri.org/kurumAdinaGoreSorgula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegrationSoap12" type="tns:IntegrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="kurumAdinaGoreSorgula">
      <soap12:operation soapAction="http://tempuri.org/kurumAdinaGoreSorgula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Integration">
    <wsdl:port name="IntegrationSoap" binding="tns:IntegrationSoap">
      <soap:address location="https://10.0.1.44/DetsisIntegration/integration.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegrationSoap12" binding="tns:IntegrationSoap12">
      <soap12:address location="https://10.0.1.44/DetsisIntegration/integration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>